#container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#btn {
  background-color: dodgerblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#btn:hover {
  background-color: deepskyblue; /* Darker shade on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.2s ease, background-color 0.3s ease;
  color: white;
  text-decoration: none;
}
